@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-vcr-jp: var(--font-vcr-jp);
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes infinite-scroll {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(-50%, 0, 0); }
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox fallback */
  image-rendering: crisp-edges; /* Safari fallback */
  image-rendering: pixelated; /* modern browsers — preferred */
}

